.Base {
  background-image: url(/src/images/bg.webp);
  height: 100%;
  background-repeat: repeat-x;
  background-attachment: fixed;
}
.Base__page {
  background-color: #fff;
  max-width: 1164px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Base___header {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}
.Base__logoLeft {
  display: flex;
  align-items: center;
}
.Base__logoLeft a {
  display: block;
}
.Base__logoRight a {
  display: block;
}
